<%- include('./partials/header') %>
  <div class="slogan">
    <article>
      To land your next big job, organization is crucial. <br>
      Stay on top of your job search with Job-App!
    </article>
  </div>
  <div class="area">
    <div class="circles">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <%- include('./partials/footer') %>